html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
img {
  width: 100%;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}

p {
  font-size: 24px;
  line-height: 1.618;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.press-kit {
  background-color: #111;
  color: white;
}

.press-kit h1,
.press-kit h2,
.press-kit h3 {
  text-align: center;
}

.press-kit__band-img {
  max-width: 100%;
  width: 550px;
  margin-bottom: 60px;
}

.discography {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.discography__album {
  max-width: 300px;
}

.press-kit a {
  color: white;
}
.discography__album img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.images {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.videography__video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.press-kit__external-links {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
.press-kit__external-links p {
  margin: 0;
}

.press-kit section {
  display: block;
  margin-bottom: 80px;
}

.press-kit__member {
  margin-bottom: 48px;
}

.press-kit__member img {
  max-width: 500px;
  display: block;
}

.press-kit__member h4 {
  display: block;
  font-size: 24px;
  margin-bottom: 8px;
}
.press-kit__member small {
  display: block;
  font-size: 18px;
  margin-bottom: 0px;
}

.press-kit__member-links {
  display: flex;
  gap: 4px 8px;
  flex-wrap: wrap;
  padding-top: 8px;
  margin-bottom: 24px;
  margin-left: -8px;
}
.press-kit__member-links a {
  font-size: 18px;
  display: block;
  padding: 8px;
}

.press-kit__menu ul {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.press-kit__menu li {
  list-style: none;
  font-size: 18px;
}

.press-kit__contact-information {
  font-size: 24px;
  text-align: center;
}

.press-kit__statement {
  font-size: 18px;
  text-align: center;
  font-style: italic;
  padding: 20px;
}

.videography {
  max-width: 600px;
  margin: 0 auto;
}

.videography__video {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.videography__iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16 * 100) */
  height: 0;
  overflow: hidden;
}

.videography__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
